.container{
    margin-top: 6%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
}
.searchBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchtext{
width: 100%;
}
.serchbtn{
    color: black;
    position: absolute;
    right: 1rem;
}
.showmap{
    border-color: blue;
    color: blue;
}
.detail{
    border-color: blue;
    color: blue;
   
}
.card-title{
    margin-top: 0 auto;
}
#img{
    width:100%;
    height: 162px;
}